<p id="notice"><%= notice %></p>

<h1>ADMIN HOME</h1>

<%= link_to 'View Users', admin_users_path %> |  

<%= link_to 'View Restaurants', admin_restaurants_path %> |  

<%= link_to 'View Chefs', admin_chefs_path %> |  

<%= link_to 'View Recipes', admin_recipes_path %> |  

<%= link_to 'New Admin', new_admin_path %> |  

<%= link_to 'Log Out', logout_path %> 
