<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Desciption:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Chef:</strong>
  <%= @recipe.chef.firstName %> <%= @recipe.chef.lastName %>
</p>

<% if current_chef %>
  <p>
    <% if @recipe.users.empty? %>
      <strong>No Favorites Yet, stay strong</strong>
    <% else %>
      <strong>Favorited By:</strong>
      <% @recipe.users.each do |favorited_users| %>
        <%= favorited_users.firstName%> <%= favorited_users.lastName%>
        <br>
      <% end %>
    <% end %>
  </p>  

  <td><%= link_to 'Edit', edit_recipe_path(@recipe) %></td>
  <td><%= link_to 'Back', chef_home_path %></td>

<% else %>
  <%= link_to 'Back', :back %>

<% end %>
