<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Desciption:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Chef:</strong>
  <% @creator_of_recipe.each do |chef| %>
    <%= chef.firstName %>
    <%= chef.lastName %>
  <% end %>
</p>

<% if current_chef %>
  <td><%= link_to 'Edit', edit_recipe_path(@recipe) %></td>
  <td><%= link_to 'Back', chef_home_path %></td>

<% else %>
  <%= link_to 'Back', home_path %>

<% end %>
