<h1>HOME</h1>

<%= link_to 'chefs', chefs_path %>
<br>
<br>
<%= link_to 'Favorites', favorites_path %>
<br>
<br>
<%= link_to 'recipes', recipes_path %>
<br>
<br>
<%= link_to 'restaurants', restaurants_path %>
<br>
<br>
<%= link_to 'users', users_path %>