<% if not current_user %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>
<h1>Current Recipes!</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desciption</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
      <% if current_user %>
        <td><%= link_to recipe.name, recipe %></td>
      <% else %>
        <td><%= recipe.name %></td>
      <% end %>
        <td><%= recipe.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'Log Out', logout_path  %>
<% end %>
