<% if not current_chef %>
  <%= link_to "Log In", login_path %>
<% else %>
  <h1> Welcome <%= current_chef.try(:firstName) %></h1>
  <h1>Current Recipes!</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Desciption</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= link_to recipe.name, recipe %></td>
          <td><%= recipe.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Post New Recipe', new_recipe_path %>

  <%= link_to 'Log Out', logout_path  %>

<% end %>